@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Praveen to webapp,,, changes added now </h1>
    <p>CICD Pipeline changed now .... Learn about building Web apps with ASP.NET Core. RELEASE 3 CHANGES</a>.</p>
</div>
